@charset "UTF-8";
/* #before */
/* #import */
/* #variable */
/* #method */
/* #build */
    /* ??? */
    a:hover {
        text-shadow: 0 0 10px #FFFFFF;
    }
/* #debug */
    /* ??? */
    div.open_state {
        outline: 2px solid red !important;
        outline-offset: -6px !important;
    }
    div.close_state {
        outline: 2px solid blue !important;
        outline-offset: -6px !important;
    }
/* #after */