@charset "UTF-8";
/* #before */
/* #import */
/* #variable */
/* #block */
/* #build */
    /* uncategorized */
    a.ic_active {
        text-shadow: 0 0 20px var(--ic_ve_color_black);
    }
/* #debug */
    /* uncategorized */
    div.open_state,
    div.open_state.target_mode {
        outline: 2px solid red !important;
        outline-offset: -6px !important;
    }
    div.close_state,
    div.close_state.target_mode {
        outline: 2px solid blue !important;
        outline-offset: -6px !important;
    }
/* #after */