@charset "UTF-8";
/* #before */
/* #import */
/* #variable */
/* #block */
/* #build */
  /* root */
  html {
    font-family: "New York_", "PingFang SC_", var(--ic_ve_font_family_default), "SF Pro Text_";
  }
  body {
    justify-content: space-evenly;
  }
  /* seabye */
  .seabye {
    color: #BCB38B;
  }
  /* ^child */
  .seabye a {
    color: #53B1DE;
  }
  .seabye a.ic_active_0 {
    border-bottom: 2px solid #E88448;
  }
/* #debug */
/* #after */