@charset "UTF-8";
/* #before */
/* #import */
/* #variable */
/* #block */
/* #build */
  /* uncategorized */
  html {
    font-family: "New York_", var(--ic_ve_font_family_default);
    color: #BCB38B;
  }
  a {
    color: #53B1DE;
  }
  a.ic_active_0 {
    border-bottom: 2px solid #E88448;
  }
/* #debug */
/* #after */