@charset "UTF-8";
/* <<<< <<<< <<<< <<<< */
/* GUI Initial */
/* for Browser */
/* gui_initial.css */
/* ==== ==== ==== ==== */
/*
    ic_ / initial css
    ic_action / :active
    ic_nr_ / navigator
    sc_ / style.css
    _ve_ / variable
    _md_ / method
    _cr\_ / container
    _mk\_ / mark \ :hov .cls $state
    _an_ / animation
    _dg\_ / debug
    #build
        sc_cr
        $state
        ^child
*/
/* >>>> >>>> >>>> >>>> */
/* #before */
/* #import */
/* #variable */
    /* other */
    html {
        --ic_ve_pixel_half: 0.5px;
    }
    /* color */
        /* base */
        html.ic_nr_media_prefers_color_scheme_light {
            --ic_ve_color_white: #FFFFFF;
            --ic_ve_color_white_transparent: rgba(255,255,255,0);
            --ic_ve_color_gray: #808080;
            --ic_ve_color_gray_transparent: rgba(128,128,128,0);
            --ic_ve_color_black: #000000;
            --ic_ve_color_black_transparent: rgba(0,0,0,0);
            --ic_ve_color_white9: rgba(255,255,255,0.9);
            --ic_ve_color_white8: rgba(255,255,255,0.8);
            --ic_ve_color_white7: rgba(255,255,255,0.7);
            --ic_ve_color_white6: rgba(255,255,255,0.6);
            --ic_ve_color_white5: rgba(255,255,255,0.5);
            --ic_ve_color_white4: rgba(255,255,255,0.4);
            --ic_ve_color_white3: rgba(255,255,255,0.3);
            --ic_ve_color_white2: rgba(255,255,255,0.2);
            --ic_ve_color_white1: rgba(255,255,255,0.1);
            --ic_ve_color_white9_opaque: rgb(242,242,242);
            --ic_ve_color_white8_opaque: rgb(229,229,229);
            --ic_ve_color_white7_opaque: rgb(216,216,216);
            --ic_ve_color_white6_opaque: rgb(204,204,204);
            --ic_ve_color_white5_opaque: rgb(191,191,191);
            --ic_ve_color_white4_opaque: rgb(178,178,178);
            --ic_ve_color_white3_opaque: rgb(165,165,165);
            --ic_ve_color_white2_opaque: rgb(153,153,153);
            --ic_ve_color_white1_opaque: rgb(140,140,140);
            --ic_ve_color_black9: rgba(0,0,0,0.9);
            --ic_ve_color_black8: rgba(0,0,0,0.8);
            --ic_ve_color_black7: rgba(0,0,0,0.7);
            --ic_ve_color_black6: rgba(0,0,0,0.6);
            --ic_ve_color_black5: rgba(0,0,0,0.5);
            --ic_ve_color_black4: rgba(0,0,0,0.4);
            --ic_ve_color_black3: rgba(0,0,0,0.3);
            --ic_ve_color_black2: rgba(0,0,0,0.2);
            --ic_ve_color_black1: rgba(0,0,0,0.1);
            --ic_ve_color_black9_opaque: rgb(12,12,12);
            --ic_ve_color_black8_opaque: rgb(25,25,25);
            --ic_ve_color_black7_opaque: rgb(38,38,38);
            --ic_ve_color_black6_opaque: rgb(50,50,50);
            --ic_ve_color_black5_opaque: rgb(63,63,63);
            --ic_ve_color_black4_opaque: rgb(76,76,76);
            --ic_ve_color_black3_opaque: rgb(89,89,89);
            --ic_ve_color_black2_opaque: rgb(101,101,101);
            --ic_ve_color_black1_opaque: rgb(114,114,114);
            --ic_ve_color_background: #F9F9F9;
            --ic_ve_color_foreground: #E1E1E1;
            --ic_ve_color_highlight: #C9C9C9;
            --ic_ve_color_red: #CC0000;
            --ic_ve_color_green: #00BB00;
            --ic_ve_color_blue: #0088FF;
            --ic_ve_color_orange: #FF8800;
            --ic_ve_color_red_translucent: #CC000099;
            --ic_ve_color_green_translucent: #00BB0099;
            --ic_ve_color_blue_translucent: #0088FF99;
            --ic_ve_color_orange_translucent: #FF880099;
        }
        html.ic_nr_media_prefers_color_scheme_dark {
            --ic_ve_color_white: #000000;
            --ic_ve_color_white_transparent: rgba(0,0,0,0);
            --ic_ve_color_gray: #808080;
            --ic_ve_color_gray_transparent: rgba(128,128,128,0);
            --ic_ve_color_black: #FFFFFF;
            --ic_ve_color_black_transparent: rgba(255,255,255,0);
            --ic_ve_color_white9: rgba(0,0,0,0.9);
            --ic_ve_color_white8: rgba(0,0,0,0.8);
            --ic_ve_color_white7: rgba(0,0,0,0.7);
            --ic_ve_color_white6: rgba(0,0,0,0.6);
            --ic_ve_color_white5: rgba(0,0,0,0.5);
            --ic_ve_color_white4: rgba(0,0,0,0.4);
            --ic_ve_color_white3: rgba(0,0,0,0.3);
            --ic_ve_color_white2: rgba(0,0,0,0.2);
            --ic_ve_color_white1: rgba(0,0,0,0.1);
            --ic_ve_color_white9_opaque: rgb(12,12,12);
            --ic_ve_color_white8_opaque: rgb(25,25,25);
            --ic_ve_color_white7_opaque: rgb(38,38,38);
            --ic_ve_color_white6_opaque: rgb(50,50,50);
            --ic_ve_color_white5_opaque: rgb(63,63,63);
            --ic_ve_color_white4_opaque: rgb(76,76,76);
            --ic_ve_color_white3_opaque: rgb(89,89,89);
            --ic_ve_color_white2_opaque: rgb(101,101,101);
            --ic_ve_color_white1_opaque: rgb(114,114,114);
            --ic_ve_color_black9: rgba(255,255,255,0.9);
            --ic_ve_color_black8: rgba(255,255,255,0.8);
            --ic_ve_color_black7: rgba(255,255,255,0.7);
            --ic_ve_color_black6: rgba(255,255,255,0.6);
            --ic_ve_color_black5: rgba(255,255,255,0.5);
            --ic_ve_color_black4: rgba(255,255,255,0.4);
            --ic_ve_color_black3: rgba(255,255,255,0.3);
            --ic_ve_color_black2: rgba(255,255,255,0.2);
            --ic_ve_color_black1: rgba(255,255,255,0.1);
            --ic_ve_color_black9_opaque: rgb(242,242,242);
            --ic_ve_color_black8_opaque: rgb(229,229,229);
            --ic_ve_color_black7_opaque: rgb(216,216,216);
            --ic_ve_color_black6_opaque: rgb(204,204,204);
            --ic_ve_color_black5_opaque: rgb(191,191,191);
            --ic_ve_color_black4_opaque: rgb(178,178,178);
            --ic_ve_color_black3_opaque: rgb(165,165,165);
            --ic_ve_color_black2_opaque: rgb(153,153,153);
            --ic_ve_color_black1_opaque: rgb(140,140,140);
            /* --ic_ve_color_background: #090909; */
            --ic_ve_color_background: #161616;
            --ic_ve_color_foreground: #212121;
            --ic_ve_color_highlight: #393939;
            --ic_ve_color_red: #CC0000;
            --ic_ve_color_green: #00BB00;
            --ic_ve_color_blue: #0088FF;
            --ic_ve_color_orange: #FF8800;
            --ic_ve_color_red_translucent: #CC000099;
            --ic_ve_color_green_translucent: #00BB0099;
            --ic_ve_color_blue_translucent: #0088FF99;
            --ic_ve_color_orange_translucent: #FF880099;
        }
        /* system_brand */
            /* other */
            html {
                --ic_ve_color_system_red: var(--sc_ve_color_red,var(--ic_ve_color_red));
                --ic_ve_color_system_green: var(--sc_ve_color_green,var(--ic_ve_color_green));
                --ic_ve_color_system_blue: var(--sc_ve_color_blue,var(--ic_ve_color_blue));
                --ic_ve_color_system_orange: var(--sc_ve_color_orange,var(--ic_ve_color_orange));
                --ic_ve_color_system_red_translucent: var(--sc_ve_color_red_translucent,var(--ic_ve_color_red_translucent));
                --ic_ve_color_system_green_translucent: var(--sc_ve_color_green_translucent),var(--ic_ve_color_green_translucent);
                --ic_ve_color_system_blue_translucent: var(--sc_ve_color_blue_translucent,var(--ic_ve_color_blue_translucent));
                --ic_ve_color_system_orange_translucent: var(--sc_ve_color_orange_translucent,var(--ic_ve_color_orange_translucent));
            }
            /* apple */
            html.ic_nr_system_brand_apple.ic_nr_media_prefers_color_scheme_light {
                --ic_ve_color_system_red: #FF3B30;
                --ic_ve_color_system_green: #28CD41;
                --ic_ve_color_system_blue: #007AFF;
                --ic_ve_color_system_orange: #FF9500;
                --ic_ve_color_system_red_translucent: #FF3B3099;
                --ic_ve_color_system_green_translucent: #28CD4199;
                --ic_ve_color_system_blue_translucent: #007AFF99;
                --ic_ve_color_system_orange_translucent: #FF950099;
            }
            html.ic_nr_system_brand_apple.ic_nr_media_prefers_color_scheme_dark {
                --ic_ve_color_system_red: #FF453A;
                --ic_ve_color_system_green: #32D74B;
                --ic_ve_color_system_blue: #0A84FF;
                --ic_ve_color_system_orange: #FF9F0A;
                --ic_ve_color_system_red_translucent: #FF453A99;
                --ic_ve_color_system_green_translucent: #32D74B99;
                --ic_ve_color_system_blue_translucent: #0A84FF99;
                --ic_ve_color_system_orange_translucent: #FF9F0A99;
            }
            /* microsoft */
            html.ic_nr_system_brand_microsoft {
                --ic_ve_color_system_red: #E81123;
                --ic_ve_color_system_green: #107C10;
                --ic_ve_color_system_blue: #0078D7;
                --ic_ve_color_system_orange: #FF8C00;
                --ic_ve_color_system_red_translucent: #E8112399;
                --ic_ve_color_system_green_translucent: #107C1099;
                --ic_ve_color_system_blue_translucent: #0078D799;
                --ic_ve_color_system_orange_translucent: #FF8C0099;
            }
            /* google */
            html.ic_nr_system_brand_google {
                --ic_ve_color_system_red: #F44336;
                --ic_ve_color_system_green: #4CAF50;
                --ic_ve_color_system_blue: #2196F3;
                --ic_ve_color_system_orange: #FF9800;
                --ic_ve_color_system_red_translucent: #F4433699;
                --ic_ve_color_system_green_translucent: #4CAF5099;
                --ic_ve_color_system_blue_translucent: #2196F399;
                --ic_ve_color_system_orange_translucent: #FF980099;
            }
/* #method */
/* #build */
    /* element */
    *,
    ::before,
    ::after {
        box-sizing: border-box;
        line-height: 100%;
        vertical-align: middle;
        outline: unset;
        touch-action: pan-x pan-y;
        overscroll-behavior: contain;
    }
    * {
        max-width: 100%;
    }
        /* root */
        html,
        body,
        iframe {
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        html,
        body {
            overflow: hidden;
            touch-action: none;
            overscroll-behavior: none;
        }
            /* html */
            html {
                border-left: env(safe-area-inset-left);
                border-right: env(safe-area-inset-right);
                border-top: env(safe-area-inset-top);
                border-bottom: env(safe-area-inset-bottom);
                border-style: solid;
                border-color: var(--ic_ve_color_white);
                background-color: var(--ic_ve_color_white);
                color: var(--ic_ve_color_black8);
                font-weight: normal;
                font-size: 16px;
                font-family:
                    system-ui,
                    -apple-system,
                    BlinkMacSystemFont,
                    PingFang SC,
                    Noto Sans CJK SC,
                    Microsoft YaHei;
                overflow-wrap: break-word;
                -webkit-user-select: none;
                user-select: none;
                text-rendering: optimizeLegibility;
                -webkit-text-size-adjust: 100%;
                text-size-adjust: 100%;
                -webkit-tap-highlight-color: var(--ic_ve_color_white_transparent);
                -webkit-touch-callout: none;
                cursor: default;
            }
                /* body */
                body {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin: unset;
                }
                    /* iframe */
                    iframe {
                        border: unset;
                    }
        /* text */
        a {
            color: currentColor;
            text-decoration: unset;
            cursor: default;
        }
        /* form */
        button,
        input,
        textarea,
        select {
            /* _ */
            all: unset;
            /* _ */
            box-sizing: border-box;
            line-height: normal;
            vertical-align: middle;
            outline: unset;
            touch-action: pan-x pan-y;
            overscroll-behavior: contain;
        }
        input,
        textarea {
            -webkit-user-select: text;
            user-select: text;
            cursor: auto;
        }
            /* input */
                /* type search */
                input[type="search"]::-webkit-search-decoration,
                input[type="search"]::-webkit-search-cancel-button {
                    display: none;
                }
        /* other */
        i {
            font-style: italic;
            pointer-events: none;
        }
    /* scroll */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-corner {
        background-color: var(--ic_ve_color_white_transparent);
    }
    ::-webkit-scrollbar-thumb {
        border: 3px solid var(--ic_ve_color_white_transparent);
        border-radius: 8px;
        background-color: var(--ic_ve_color_black2);
        background-clip: padding-box;
    }
    ::-webkit-scrollbar-thumb:active {
        background-color: var(--ic_ve_color_black4);
    }
/* #debug */
    /* wireframe */
    html.ic_dg,
    html.ic_dg *,
    html.ic_dg ::before,
    html.ic_dg ::after {
        outline: 1px solid rgba(255,0,0,0.125) !important;
        outline-offset: -1px !important;
    }
    html.ic_dg,
    html.ic_dg>body,
    html.ic_dg>body>* {
        transform: scale(0.95) !important;
        outline: 1px dashed rgba(255,0,0,0.25) !important;
        outline-offset: 1px !important;
    }
    html.ic_dg::before,
    html.ic_dg::after,
    html.ic_dg>body::before,
    html.ic_dg>body::after,
    html.ic_dg>body>*::before,
    html.ic_dg>body>*::after {
        transform: scale(0.975) !important;
        outline: 1px dotted rgba(255,0,0,0.25) !important;
        outline-offset: 1px !important;
    }
/* #after */