@charset "UTF-8";
/* <<<< <<<< <<<< <<<< */
/* GUI Initial */
/* for Browser */
/* GUIInitial.css */
/* ==== ==== ==== ==== */
/*
    ic_ / initial css
    ic_nr_ / navigator
    ic_action / :active
    ic_dg\_ / debug
    sc_ / style.css
    _ve_ / variable
    _an_ / animation
    _bk_ / block
    _cr\_ / container
    _mk\_ / mark \ :hov .cls
    #build
        sc_cr
        ^child
*/
/* >>>> >>>> >>>> >>>> */
/* #before */
/* #import */
/* #variable */
    /* color */
        /* base */
        html.ic_nr_media_prefers_colorScheme_light {
            --ic_ve_color_white: #FFFFFF;
            --ic_ve_color_white_transparent: rgba(255,255,255,0);
            --ic_ve_color_gray: #808080;
            --ic_ve_color_gray_transparent: rgba(128,128,128,0);
            --ic_ve_color_black: #000000;
            --ic_ve_color_black_transparent: rgba(0,0,0,0);
            --ic_ve_color_white9: rgb(242,242,242);
            --ic_ve_color_white8: rgb(229,229,229);
            --ic_ve_color_white7: rgb(216,216,216);
            --ic_ve_color_white6: rgb(204,204,204);
            --ic_ve_color_white5: rgb(191,191,191);
            --ic_ve_color_white4: rgb(178,178,178);
            --ic_ve_color_white3: rgb(165,165,165);
            --ic_ve_color_white2: rgb(153,153,153);
            --ic_ve_color_white1: rgb(140,140,140);
            --ic_ve_color_white9_opacity: rgba(255,255,255,0.9);
            --ic_ve_color_white8_opacity: rgba(255,255,255,0.8);
            --ic_ve_color_white7_opacity: rgba(255,255,255,0.7);
            --ic_ve_color_white6_opacity: rgba(255,255,255,0.6);
            --ic_ve_color_white5_opacity: rgba(255,255,255,0.5);
            --ic_ve_color_white4_opacity: rgba(255,255,255,0.4);
            --ic_ve_color_white3_opacity: rgba(255,255,255,0.3);
            --ic_ve_color_white2_opacity: rgba(255,255,255,0.2);
            --ic_ve_color_white1_opacity: rgba(255,255,255,0.1);
            --ic_ve_color_black9: rgb(12,12,12);
            --ic_ve_color_black8: rgb(25,25,25);
            --ic_ve_color_black7: rgb(38,38,38);
            --ic_ve_color_black6: rgb(50,50,50);
            --ic_ve_color_black5: rgb(63,63,63);
            --ic_ve_color_black4: rgb(76,76,76);
            --ic_ve_color_black3: rgb(89,89,89);
            --ic_ve_color_black2: rgb(101,101,101);
            --ic_ve_color_black1: rgb(114,114,114);
            --ic_ve_color_black9_opacity: rgba(0,0,0,0.9);
            --ic_ve_color_black8_opacity: rgba(0,0,0,0.8);
            --ic_ve_color_black7_opacity: rgba(0,0,0,0.7);
            --ic_ve_color_black6_opacity: rgba(0,0,0,0.6);
            --ic_ve_color_black5_opacity: rgba(0,0,0,0.5);
            --ic_ve_color_black4_opacity: rgba(0,0,0,0.4);
            --ic_ve_color_black3_opacity: rgba(0,0,0,0.3);
            --ic_ve_color_black2_opacity: rgba(0,0,0,0.2);
            --ic_ve_color_black1_opacity: rgba(0,0,0,0.1);
            --ic_ve_color_red: #CC0000;
            --ic_ve_color_green: #00BB00;
            --ic_ve_color_blue: #0088FF;
            --ic_ve_color_orange: #FF8800;
            --ic_ve_color_red_translucent: #CC000099;
            --ic_ve_color_green_translucent: #00BB0099;
            --ic_ve_color_blue_translucent: #0088FF99;
            --ic_ve_color_orange_translucent: #FF880099;
        }
        html.ic_nr_media_prefers_colorScheme_light.ic_nr_media_orientation_landscape {
            --ic_ve_color_background: #FFFFFF;
            --ic_ve_color_foreground: #EEEEEE;
            --ic_ve_color_highlight: #DDDDDD;
            --ic_ve_color_opposite: #CCCCCC;
        }
        html.ic_nr_media_prefers_colorScheme_light.ic_nr_media_orientation_portrait {
            --ic_ve_color_background: #EEEEEE;
            --ic_ve_color_foreground: #CCCCCC;
            --ic_ve_color_highlight: #FFFFFF;
            --ic_ve_color_opposite: #DDDDDD;
        }
        html.ic_nr_media_prefers_colorScheme_dark {
            --ic_ve_color_white: #000000;
            --ic_ve_color_white_transparent: rgba(0,0,0,0);
            --ic_ve_color_gray: #808080;
            --ic_ve_color_gray_transparent: rgba(128,128,128,0);
            --ic_ve_color_black: #FFFFFF;
            --ic_ve_color_black_transparent: rgba(255,255,255,0);
            --ic_ve_color_white9: rgb(12,12,12);
            --ic_ve_color_white8: rgb(25,25,25);
            --ic_ve_color_white7: rgb(38,38,38);
            --ic_ve_color_white6: rgb(50,50,50);
            --ic_ve_color_white5: rgb(63,63,63);
            --ic_ve_color_white4: rgb(76,76,76);
            --ic_ve_color_white3: rgb(89,89,89);
            --ic_ve_color_white2: rgb(101,101,101);
            --ic_ve_color_white1: rgb(114,114,114);
            --ic_ve_color_white9_opacity: rgba(0,0,0,0.9);
            --ic_ve_color_white8_opacity: rgba(0,0,0,0.8);
            --ic_ve_color_white7_opacity: rgba(0,0,0,0.7);
            --ic_ve_color_white6_opacity: rgba(0,0,0,0.6);
            --ic_ve_color_white5_opacity: rgba(0,0,0,0.5);
            --ic_ve_color_white4_opacity: rgba(0,0,0,0.4);
            --ic_ve_color_white3_opacity: rgba(0,0,0,0.3);
            --ic_ve_color_white2_opacity: rgba(0,0,0,0.2);
            --ic_ve_color_white1_opacity: rgba(0,0,0,0.1);
            --ic_ve_color_black9: rgb(242,242,242);
            --ic_ve_color_black8: rgb(229,229,229);
            --ic_ve_color_black7: rgb(216,216,216);
            --ic_ve_color_black6: rgb(204,204,204);
            --ic_ve_color_black5: rgb(191,191,191);
            --ic_ve_color_black4: rgb(178,178,178);
            --ic_ve_color_black3: rgb(165,165,165);
            --ic_ve_color_black2: rgb(153,153,153);
            --ic_ve_color_black1: rgb(140,140,140);
            --ic_ve_color_black9_opacity: rgba(255,255,255,0.9);
            --ic_ve_color_black8_opacity: rgba(255,255,255,0.8);
            --ic_ve_color_black7_opacity: rgba(255,255,255,0.7);
            --ic_ve_color_black6_opacity: rgba(255,255,255,0.6);
            --ic_ve_color_black5_opacity: rgba(255,255,255,0.5);
            --ic_ve_color_black4_opacity: rgba(255,255,255,0.4);
            --ic_ve_color_black3_opacity: rgba(255,255,255,0.3);
            --ic_ve_color_black2_opacity: rgba(255,255,255,0.2);
            --ic_ve_color_black1_opacity: rgba(255,255,255,0.1);
            --ic_ve_color_background: #111111;
            --ic_ve_color_foreground: #222222;
            --ic_ve_color_highlight: #333333;
            --ic_ve_color_opposite: #444444;
            --ic_ve_color_red: #CC0000;
            --ic_ve_color_green: #00BB00;
            --ic_ve_color_blue: #0088FF;
            --ic_ve_color_orange: #FF8800;
            --ic_ve_color_red_translucent: #CC000099;
            --ic_ve_color_green_translucent: #00BB0099;
            --ic_ve_color_blue_translucent: #0088FF99;
            --ic_ve_color_orange_translucent: #FF880099;
        }
        /* system_brand */
            /* other */
            html {
                --ic_ve_color_system_red: var(--ic_ve_color_red);
                --ic_ve_color_system_green: var(--ic_ve_color_green);
                --ic_ve_color_system_blue: var(--ic_ve_color_blue);
                --ic_ve_color_system_orange: var(--ic_ve_color_orange);
                --ic_ve_color_system_red_translucent: var(--ic_ve_color_red_translucent);
                --ic_ve_color_system_green_translucent: var(--ic_ve_color_green_translucent);
                --ic_ve_color_system_blue_translucent: var(--ic_ve_color_blue_translucent);
                --ic_ve_color_system_orange_translucent: var(--ic_ve_color_orange_translucent);
            }
            /* apple */
            html.ic_nr_system_brand_apple.ic_nr_media_prefers_colorScheme_light {
                --ic_ve_color_system_red: #FF3B30;
                --ic_ve_color_system_green: #28CD41;
                --ic_ve_color_system_blue: #007AFF;
                --ic_ve_color_system_orange: #FF9500;
                --ic_ve_color_system_red_translucent: #FF3B3099;
                --ic_ve_color_system_green_translucent: #28CD4199;
                --ic_ve_color_system_blue_translucent: #007AFF99;
                --ic_ve_color_system_orange_translucent: #FF950099;
            }
            html.ic_nr_system_brand_apple.ic_nr_media_prefers_colorScheme_dark {
                --ic_ve_color_system_red: #FF453A;
                --ic_ve_color_system_green: #32D74B;
                --ic_ve_color_system_blue: #0A84FF;
                --ic_ve_color_system_orange: #FF9F0A;
                --ic_ve_color_system_red_translucent: #FF453A99;
                --ic_ve_color_system_green_translucent: #32D74B99;
                --ic_ve_color_system_blue_translucent: #0A84FF99;
                --ic_ve_color_system_orange_translucent: #FF9F0A99;
            }
            /* microsoft */
            html.ic_nr_system_brand_microsoft {
                --ic_ve_color_system_red: #E81123;
                --ic_ve_color_system_green: #107C10;
                --ic_ve_color_system_blue: #0078D7;
                --ic_ve_color_system_orange: #FF8C00;
                --ic_ve_color_system_red_translucent: #E8112399;
                --ic_ve_color_system_green_translucent: #107C1099;
                --ic_ve_color_system_blue_translucent: #0078D799;
                --ic_ve_color_system_orange_translucent: #FF8C0099;
            }
            /* google */
            html.ic_nr_system_brand_google {
                --ic_ve_color_system_red: #F44336;
                --ic_ve_color_system_green: #4CAF50;
                --ic_ve_color_system_blue: #2196F3;
                --ic_ve_color_system_orange: #FF9800;
                --ic_ve_color_system_red_translucent: #F4433699;
                --ic_ve_color_system_green_translucent: #4CAF5099;
                --ic_ve_color_system_blue_translucent: #2196F399;
                --ic_ve_color_system_orange_translucent: #FF980099;
            }
    /* background */
    html {
        --ic_ve_background_cover: center/cover no-repeat;
    }
    /* shadow */
    html {
        --ic_ve_shadow_2dp_translucent: 0 2px 2px 0 rgba(0,0,0,0),0 1px 5px 0 rgba(0,0,0,0),0 3px 1px -2px rgba(0,0,0,0);
        --ic_ve_shadow_3dp_translucent: 0 3px 4px 0 rgba(0,0,0,0),0 1px 8px 0 rgba(0,0,0,0),0 3px 3px -2px rgba(0,0,0,0);
        --ic_ve_shadow_4dp_translucent: 0 4px 5px 0 rgba(0,0,0,0),0 1px 10px 0 rgba(0,0,0,0),0 2px 4px -1px rgba(0,0,0,0);
        --ic_ve_shadow_6dp_translucent: 0 6px 10px 0 rgba(0,0,0,0),0 1px 18px 0 rgba(0,0,0,0),0 3px 5px -1px rgba(0,0,0,0);
        --ic_ve_shadow_8dp_translucent: 0 8px 10px 1px rgba(0,0,0,0),0 3px 14px 2px rgba(0,0,0,0),0 5px 5px -3px rgba(0,0,0,0);
        --ic_ve_shadow_12dp_translucent: 0 12px 16px 1px rgba(0,0,0,0),0 4px 22px 3px rgba(0,0,0,0),0 6px 7px -4px rgba(0,0,0,0);
        --ic_ve_shadow_16dp_translucent: 0 16px 24px 2px rgba(0,0,0,0),0 6px 30px 5px rgba(0,0,0,0),0 8px 10px -5px rgba(0,0,0,0);
        --ic_ve_shadow_24dp_translucent: 0 24px 38px 3px rgba(0,0,0,0),0 9px 46px 8px rgba(0,0,0,0),0 11px 15px -7px rgba(0,0,0,0);
        --ic_ve_shadow_2dp: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
        --ic_ve_shadow_3dp: 0 3px 4px 0 rgba(0,0,0,0.14),0 1px 8px 0 rgba(0,0,0,0.12),0 3px 3px -2px rgba(0,0,0,0.4);
        --ic_ve_shadow_4dp: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.4);
        --ic_ve_shadow_6dp: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.4);
        --ic_ve_shadow_8dp: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.4);
        --ic_ve_shadow_12dp: 0 12px 16px 1px rgba(0,0,0,0.14),0 4px 22px 3px rgba(0,0,0,0.12),0 6px 7px -4px rgba(0,0,0,0.4);
        --ic_ve_shadow_16dp: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.4);
        --ic_ve_shadow_24dp: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.4);
        --ic_ve_shadow_2dp3: 0 2px 2px 0 rgba(0,0,0,0.05),0 1px 5px 0 rgba(0,0,0,0.04),0 3px 1px -2px rgba(0,0,0,0.07);
        --ic_ve_shadow_3dp3: 0 3px 4px 0 rgba(0,0,0,0.05),0 1px 8px 0 rgba(0,0,0,0.04),0 3px 3px -2px rgba(0,0,0,0.13);
        --ic_ve_shadow_4dp3: 0 4px 5px 0 rgba(0,0,0,0.05),0 1px 10px 0 rgba(0,0,0,0.04),0 2px 4px -1px rgba(0,0,0,0.13);
        --ic_ve_shadow_6dp3: 0 6px 10px 0 rgba(0,0,0,0.05),0 1px 18px 0 rgba(0,0,0,0.04),0 3px 5px -1px rgba(0,0,0,0.13);
        --ic_ve_shadow_8dp3: 0 8px 10px 1px rgba(0,0,0,0.05),0 3px 14px 2px rgba(0,0,0,0.04),0 5px 5px -3px rgba(0,0,0,0.13);
        --ic_ve_shadow_12dp3: 0 12px 16px 1px rgba(0,0,0,0.05),0 4px 22px 3px rgba(0,0,0,0.04),0 6px 7px -4px rgba(0,0,0,0.13);
        --ic_ve_shadow_16dp3: 0 16px 24px 2px rgba(0,0,0,0.05),0 6px 30px 5px rgba(0,0,0,0.04),0 8px 10px -5px rgba(0,0,0,0.13);
        --ic_ve_shadow_24dp3: 0 24px 38px 3px rgba(0,0,0,0.05),0 9px 46px 8px rgba(0,0,0,0.04),0 11px 15px -7px rgba(0,0,0,0.13);
    }
    /* font */
        /* family */
        html {
            --ic_ve_font_family_sansSerif: sans-serif;
            --ic_ve_font_family_serif: serif;
            --ic_ve_font_family_monospace: monospace;
            --ic_ve_font_family_cursive: cursive;
            --ic_ve_font_family_fantasy: fantasy;
            --ic_ve_font_family_fangsong: Fangsong;
            --ic_ve_font_family_default: system-ui, -apple-system, BlinkMacSystemFont, "PingFang SC", "Noto Sans CJK SC", "Microsoft YaHei", sans-serif;
            --ic_ve_font_family_code: "Menlo", "Monaco", "Consolas", "Courier New", "Ubuntu Mono", "Microsoft YaHei", monospace;
            --ic_ve_font_family_coding: "Consolas", "Microsoft YaHei", monospace;
        }
/* #block */
    /* ic_bk_progressIndicatorCircular_indeterminate */
    @keyframes ic_bk_progressIndicatorCircular_indeterminate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes ic_bk_progressIndicatorCircular_indeterminate_8 {
        0% {
            transform: scale(0.5)rotate(0deg);
        }
        100% {
            transform: scale(0.5)rotate(360deg);
        }
    }
    @keyframes ic_bk_progressIndicatorCircular_indeterminate_12 {
        0% {
            transform: scale(0.75)rotate(0deg);
        }
        100% {
            transform: scale(0.75)rotate(360deg);
        }
    }
    [class*="ic_bk_progressIndicatorCircular_indeterminate"],
    [class*="ic_bk_progressIndicatorCircular_indeterminate"] * {
        pointer-events: none !important;
    }
    [class*="ic_bk_progressIndicatorCircular_indeterminate"]::before {
        /* content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 2 2'><rect x='0.45625' y='-0.09099' width='0.54375' height='0.18198' rx='0.09099' ry='0.09099' fill-opacity='0.16863' transform='rotate(0)'></rect><rect x='0.45625' y='-0.09099' width='0.54375' height='0.18198' rx='0.09099' ry='0.09099' fill-opacity='0.2' transform='rotate(30)'></rect><rect x='0.45625' y='-0.09099' width='0.54375' height='0.18198' rx='0.09099' ry='0.09099' fill-opacity='0.21961' transform='rotate(60)'></rect><rect x='0.45625' y='-0.09099' width='0.54375' height='0.18198' rx='0.09099' ry='0.09099' fill-opacity='0.25882' transform='rotate(90)'></rect><rect x='0.45625' y='-0.09099' width='0.54375' height='0.18198' rx='0.09099' ry='0.09099' fill-opacity='0.32157' transform='rotate(120)'></rect><rect x='0.45625' y='-0.09099' width='0.54375' height='0.18198' rx='0.09099' ry='0.09099' fill-opacity='0.38039' transform='rotate(150)'></rect><rect x='0.45625' y='-0.09099' width='0.54375' height='0.18198' rx='0.09099' ry='0.09099' fill-opacity='0.43137' transform='rotate(180)'></rect><rect x='0.45625' y='-0.09099' width='0.54375' height='0.18198' rx='0.09099' ry='0.09099' fill-opacity='0.54118' transform='rotate(210)'></rect><rect x='0.45625' y='-0.09099' width='0.54375' height='0.18198' rx='0.09099' ry='0.09099' fill-opacity='0.65098' transform='rotate(240)'></rect><rect x='0.45625' y='-0.09099' width='0.54375' height='0.18198' rx='0.09099' ry='0.09099' fill-opacity='0.76078' transform='rotate(270)'></rect><rect x='0.45625' y='-0.09099' width='0.54375' height='0.18198' rx='0.09099' ry='0.09099' fill-opacity='0.90196' transform='rotate(300)'></rect><rect x='0.45625' y='-0.09099' width='0.54375' height='0.18198' rx='0.09099' ry='0.09099' fill-opacity='1' transform='rotate(330)'></rect></svg>"); */
        content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 2 2'><rect x='0.38' y='-0.125' width='0.62' height='0.25' rx='0.125' ry='0.125' fill-opacity='0.125' transform='rotate(0)'></rect><rect x='0.38' y='-0.125' width='0.62' height='0.25' rx='0.125' ry='0.125' fill-opacity='0.25' transform='rotate(45)'></rect><rect x='0.38' y='-0.125' width='0.62' height='0.25' rx='0.125' ry='0.125' fill-opacity='0.375' transform='rotate(90)'></rect><rect x='0.38' y='-0.125' width='0.62' height='0.25' rx='0.125' ry='0.125' fill-opacity='0.5' transform='rotate(135)'></rect><rect x='0.38' y='-0.125' width='0.62' height='0.25' rx='0.125' ry='0.125' fill-opacity='0.625' transform='rotate(180)'></rect><rect x='0.38' y='-0.125' width='0.62' height='0.25' rx='0.125' ry='0.125' fill-opacity='0.75' transform='rotate(225)'></rect><rect x='0.38' y='-0.125' width='0.62' height='0.25' rx='0.125' ry='0.125' fill-opacity='0.875' transform='rotate(270)'></rect><rect x='0.38' y='-0.125' width='0.62' height='0.25' rx='0.125' ry='0.125' fill-opacity='1' transform='rotate(315)'></rect></svg>");
        z-index: 999;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 16px;
        height: 16px;
        filter: opacity(0.8);
        /* animation: 0.6s steps(12) 0s infinite ic_bk_progressIndicatorCircular_indeterminate; */
        animation: calc(1s/3*2) steps(8) 0s infinite ic_bk_progressIndicatorCircular_indeterminate;
    }
    html:not(.ic_nr_media_prefers_colorScheme_dark)[class*="ic_bk_progressIndicatorCircular_indeterminate_invert"]::before,
    html:not(.ic_nr_media_prefers_colorScheme_dark) [class*="ic_bk_progressIndicatorCircular_indeterminate_invert"]::before {
        filter: opacity(0.8)invert(1);
    }
    html.ic_nr_media_prefers_colorScheme_dark[class*="ic_bk_progressIndicatorCircular_indeterminate"]:not([class*="ic_bk_progressIndicatorCircular_indeterminate_invert"])::before,
    html.ic_nr_media_prefers_colorScheme_dark [class*="ic_bk_progressIndicatorCircular_indeterminate"]:not([class*="ic_bk_progressIndicatorCircular_indeterminate_invert"])::before {
        filter: opacity(0.625)invert(1);
    }
    [class*="ic_bk_progressIndicatorCircular_indeterminate_8"]::before,
    [class*="ic_bk_progressIndicatorCircular_indeterminate_invert_8"]::before {
        width: 16px;
        height: 16px;
        animation: calc(1s/3*2) steps(8) 0s infinite ic_bk_progressIndicatorCircular_indeterminate_8;
    }
    [class*="ic_bk_progressIndicatorCircular_indeterminate_12"]::before,
    [class*="ic_bk_progressIndicatorCircular_indeterminate_invert_12"]::before {
        width: 16px;
        height: 16px;
        animation: calc(1s/3*2) steps(8) 0s infinite ic_bk_progressIndicatorCircular_indeterminate_12;
    }
    [class*="ic_bk_progressIndicatorCircular_indeterminate_16"]::before,
    [class*="ic_bk_progressIndicatorCircular_indeterminate_invert_16"]::before {
        width: 16px;
        height: 16px;
    }
    [class*="ic_bk_progressIndicatorCircular_indeterminate_20"]::before,
    [class*="ic_bk_progressIndicatorCircular_indeterminate_invert_20"]::before {
        width: 20px;
        height: 20px;
    }
    [class*="ic_bk_progressIndicatorCircular_indeterminate_24"]::before,
    [class*="ic_bk_progressIndicatorCircular_indeterminate_invert_24"]::before {
        width: 24px;
        height: 24px;
    }
    [class*="ic_bk_progressIndicatorCircular_indeterminate_28"]::before,
    [class*="ic_bk_progressIndicatorCircular_indeterminate_invert_28"]::before {
        width: 28px;
        height: 28px;
    }
    [class*="ic_bk_progressIndicatorCircular_indeterminate_32"]::before,
    [class*="ic_bk_progressIndicatorCircular_indeterminate_invert_32"]::before {
        width: 32px;
        height: 32px;
    }
/* #build */
    /* element */
    *,
    ::before,
    ::after {
        box-sizing: border-box;
        line-height: 100%;
        vertical-align: middle;
        outline: unset;
        touch-action: pan-x pan-y;
        overscroll-behavior: contain;
    }
    * {
        max-width: 100%;
    }
        /* root */
        html,
        body,
        iframe {
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        html,
        body {
            overflow: hidden;
            touch-action: none;
            overscroll-behavior: none;
        }
            /* html */
            html {
                border-left: env(safe-area-inset-left);
                border-right: env(safe-area-inset-right);
                border-top: env(safe-area-inset-top);
                border-bottom: env(safe-area-inset-bottom);
                border-style: solid;
                border-color: var(--ic_ve_color_white);
                background-color: var(--ic_ve_color_white);
                color: var(--ic_ve_color_black8_opacity);
                font-weight: normal;
                font-size: 16px;
                font-family: var(--ic_ve_font_family_default);
                overflow-wrap: break-word;
                -webkit-user-select: none;
                user-select: none;
                text-rendering: optimizeLegibility;
                -webkit-text-size-adjust: 100%;
                text-size-adjust: 100%;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                -webkit-touch-callout: none;
                cursor: default;
            }
                /* body */
                body {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin: unset;
                }
                    /* iframe */
                    iframe {
                        border: unset;
                    }
        /* text */
        a {
            vertical-align: unset;
            color: currentColor;
            text-decoration: unset;
            cursor: default;
        }
        /* form */
        ::placeholder,
        [contenteditable]:empty::before {
            color: var(--ic_ve_color_black4_opacity);
            opacity: unset;
            -webkit-user-select: none;
            user-select: none;
        }
        button,
        input,
        textarea,
        select {
            /* _ */
            all: unset;
            /* _ */
            box-sizing: border-box;
            line-height: normal;
            vertical-align: middle;
            outline: unset;
            touch-action: pan-x pan-y;
            overscroll-behavior: contain;
            /* _ */
            max-width: 100%;
        }
        input,
        textarea,
        [contenteditable] {
            -webkit-user-select: text;
            user-select: text;
            cursor: auto;
        }
        input {
            text-overflow: ellipsis;
        }
        [contenteditable]:empty::before {
            content: attr(placeholder);
        }
            /* input */
                /* search */
                input[type="search"]::-webkit-search-decoration,
                input[type="search"]::-webkit-search-cancel-button {
                    display: none;
                }
        /* other */
        i {
            font-style: italic;
            pointer-events: none;
        }
    /* scroll */
    html:not(.ic_nr_platform_mobile) ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    html.ic_nr_platform_mobile ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    html:not(.ic_nr_platform_mobile) ::-webkit-scrollbar-corner {
        background-color: rgba(0,0,0,0);
    }
    html:not(.ic_nr_platform_mobile) ::-webkit-scrollbar-thumb {
        border: 3px solid rgba(0,0,0,0);
        border-radius: 8px;
        background-color: var(--ic_ve_color_black2_opacity);
        background-clip: padding-box;
    }
    html:not(.ic_nr_platform_mobile) ::-webkit-scrollbar-thumb:active {
        background-color: var(--ic_ve_color_black4_opacity);
    }
    html:not(.ic_nr_platform_mobile) ::-webkit-scrollbar-button:single-button {
        height: 8px;
        width: 8px;
        border: 3px solid rgba(0,0,0,0);
        border-radius: 100%;
        background-color: var(--ic_ve_color_black2_opacity);
        background-clip: padding-box;
    }
    html:not(.ic_nr_platform_mobile) ::-webkit-scrollbar-button:single-button:active {
        background-color: var(--ic_ve_color_black4_opacity);
    }
/* #debug */
    /* wireframe */
    html.ic_dg,
    html.ic_dg *,
    html.ic_dg ::before,
    html.ic_dg ::after {
        outline: 1px solid rgba(255,0,0,0.125) !important;
        outline-offset: -1px !important;
    }
    html.ic_dg,
    html.ic_dg>body,
    html.ic_dg>body>* {
        transform: scale(0.95) !important;
        outline: 1px dashed rgba(255,0,0,0.25) !important;
        outline-offset: 1px !important;
    }
    html.ic_dg::before,
    html.ic_dg::after,
    html.ic_dg>body::before,
    html.ic_dg>body::after,
    html.ic_dg>body>*::before,
    html.ic_dg>body>*::after {
        transform: scale(0.975) !important;
        outline: 1px dotted rgba(255,0,0,0.25) !important;
        outline-offset: 1px !important;
    }
/* #after */