@charset "UTF-8";
/* #library */
    /* @initial.css */
/* #initial */
    /* variable */
    /* element */
/* #block */
/* #build */
    /* sc_cr */
/* #debug */
/*
    style.css
    sc_
        #library
            @initial.css
            ic_
            ~~~~
            _oe_ / operating environment
        #initial
        _ve_ / variable
        #block
        _bk_
        #build
        _cr / container
        _ca_ / container abbreviation
        #debug
        _dg _dg_
        ~~~~
        _an_ / :hov~.cls action
        _at_ / animation
        _mk _mk_ / mark
*/
/* #library */
/* #initial */
    /* variable */
    /* 255*0.8+30=234 */
    /* 255*0.2=51 */
    /* 255-16+1=240*0.2=48 */
    /* 255-16+1=240*0.8+30=222 */
    :root {
        --ic_ve_color_transparent: rgba(255,255,255,0);
        --ic_ve_color_white: #FFFFFF;
        --ic_ve_color_white8: rgb(234,234,234);
        --ic_ve_color_white6: rgb(183,183,183);
        --ic_ve_color_white4: rgb(132,132,132);
        --ic_ve_color_white2: rgb(81,81,81);
        --ic_ve_color_white8_opacity: rgba(255,255,255,0.8);
        --ic_ve_color_white6_opacity: rgba(255,255,255,0.6);
        --ic_ve_color_white4_opacity: rgba(255,255,255,0.4);
        --ic_ve_color_white2_opacity: rgba(255,255,255,0.2);
        --ic_ve_color_black: #000000;
        --ic_ve_color_black8: rgb(51,51,51);
        --ic_ve_color_black6: rgb(102,102,102);
        --ic_ve_color_black4: rgb(153,153,153);
        --ic_ve_color_black2: rgb(204,204,204);
        --ic_ve_color_black8_opacity: rgba(0,0,0,0.8);
        --ic_ve_color_black6_opacity: rgba(0,0,0,0.6);
        --ic_ve_color_black4_opacity: rgba(0,0,0,0.4);
        --ic_ve_color_black2_opacity: rgba(0,0,0,0.2);
    }
    @media(prefers-color-scheme:dark) {
        :root {
            --ic_ve_color_transparent: rgba(16,16,16,0);
            --ic_ve_color_white: #101010;
            --ic_ve_color_white8: rgb(48,48,48);
            --ic_ve_color_white6: rgb(96,96,96);
            --ic_ve_color_white4: rgb(144,144,144);
            --ic_ve_color_white2: rgb(192,192,192);
            --ic_ve_color_white8_opacity: rgba(16,16,16,0.8);
            --ic_ve_color_white6_opacity: rgba(16,16,16,0.6);
            --ic_ve_color_white4_opacity: rgba(16,16,16,0.4);
            --ic_ve_color_white2_opacity: rgba(16,16,16,0.2);
            --ic_ve_color_black: #F0F0F0;
            --ic_ve_color_black8: rgb(222,222,222);
            --ic_ve_color_black6: rgb(174,174,174);
            --ic_ve_color_black4: rgb(126,126,126);
            --ic_ve_color_black2: rgb(78,78,78);
            --ic_ve_color_black8_opacity: rgba(240,240,240,0.8);
            --ic_ve_color_black6_opacity: rgba(240,240,240,0.6);
            --ic_ve_color_black4_opacity: rgba(240,240,240,0.4);
            --ic_ve_color_black2_opacity: rgba(240,240,240,0.2);
        }
    }
    /* element */
    *,
    ::before,
    ::after {
        box-sizing: border-box;
        line-height: normal;
        vertical-align: middle;
        outline: unset;
        touch-action: pan-x pan-y;
        overscroll-behavior: contain;
    }
        /* root */
        html,
        body,
        iframe {
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        html,
        body {
            overflow: hidden;
            touch-action: none;
            overscroll-behavior: none;
        }
            /* html */
            html {
                background-color: var(--ic_ve_color_white);
                color: var(--ic_ve_color_black8_opacity);
                font-weight: normal;
                font-size: 16px;
                font-family:
                    "-apple-system",
                    "BlinkMacSystemFont",
                    "system-ui",
                    "PingFang SC",
                    "Noto Sans CJK SC",
                    "Microsoft YaHei";
                overflow-wrap: break-word;
                -webkit-user-select: none;
                user-select: none;
                text-rendering: optimizeLegibility;
                -webkit-text-size-adjust: 100%;
                text-size-adjust: 100%;
                -webkit-tap-highlight-color: var(--ic_ve_color_transparent);
                -webkit-touch-callout: none;
                cursor: default;
            }
                /* body */
                body {
                    display: flex;
                    place-content: center;
                    place-items: center;
                    flex-flow: column;
                    margin: unset;
                }
                @keyframes ic_at_landscape_body {
                    0% {
                        margin: 1px;
                    }
                    100% {
                        margin: unset;
                    }
                }
                @media(orientation:landscape) {
                    body {
                        animation: ic_at_landscape_body 175ms cubic-bezier(0.4,0,0.2,1) 175ms both;
                    }
                }
                @keyframes ic_at_portrait_body {
                    0% {
                        margin: 1px;
                    }
                    100% {
                        margin: unset;
                    }
                }
                @media(orientation:portrait) {
                    body {
                        animation: ic_at_portrait_body 175ms cubic-bezier(0.4,0,0.2,1) 175ms both;
                    }
                }
                    /* iframe */
                    iframe {
                        border: unset;
                    }
        /* form */
        button,
        input,
        textarea,
        select {
            /* _ */
            all: unset;
            /* _ */
            box-sizing: border-box;
            line-height: normal;
            vertical-align: middle;
            outline: unset;
            touch-action: pan-x pan-y;
            overscroll-behavior: contain;
        }
        input,
        textarea {
            user-select: text;
            -webkit-user-select: text;
            cursor: auto;
        }
            /* input */
                /* @safari */
                    /* type search */
                    input[type="search"]::-webkit-search-decoration,
                    input[type="search"]::-webkit-search-cancel-button {
                        display: none;
                    }
    /* scroll */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    ::-webkit-scrollbar-corner {
        background-color: var(--ic_ve_color_transparent);
    }
    ::-webkit-scrollbar-thumb {
        border: 3px solid var(--ic_ve_color_transparent);
        border-radius: 90px;
        background-color: var(--ic_ve_color_black2_opacity);
        background-clip: padding-box;
    }
    ::-webkit-scrollbar-thumb:active {
        background-color: var(--ic_ve_color_black4_opacity);
    }
/* #block */
/* #build */
/* #debug */
    /* wireframe */
    html.ic_dg *,
    html.ic_dg ::before,
    html.ic_dg ::after {
        outline: 1px solid rgba(255,0,0,0.125)!important;
        outline-offset: -1px!important;
    }