@charset "UTF-8";
/* <<<< <<<< <<<< <<<<
  tyin
  tyin.css
>>>> >>>> >>>> >>>> */
/* #before */
/* #import */
/* #variable */
/* #block */
  /* 💠 base */
  /* 💠 local data */
  /* 💠 network data */
  /* 💠 application programming interface */
  /* 💠 graphics */
  /* 💠 command line interface */
  /* 💠 graphical user interface */
    /* 💧 tyin_miniEditor */
    .tyin_miniEditor {
      max-width: 100%;
      max-height: 100%;
      background-color: var(--ic_ve_color_black1_opacity);
      font-size: 14px;
    }
    /* ^child */
    .tyin_miniEditor * {
      line-height: var(--ic_ve_font_lineHeight_text);
    }
      /* tyin_miniEditor_toolbar */
      .tyin_miniEditor_toolbar {
        display: flex;
        align-items: center;
        width: 100%;
        height: 36px;
        box-shadow: var(--ic_ve_shadow_4dp3);
      }
        /* tyin_miniEditor_toolbar_cr */
        .tyin_miniEditor_toolbar_cr {
          flex: 1;
          display: flex;
          height: 100%;
        }
        .tyin_miniEditor_toolbar_cr:first-child {
          justify-content: flex-start;
        }
        .tyin_miniEditor_toolbar_cr:last-child {
          justify-content: flex-end;
        }
          /* tyin_miniEditor_toolbar_cr_group */
          .tyin_miniEditor_toolbar_cr_group {
            display: flex;
          }
          .tyin_miniEditor_toolbar_cr:first-child>.tyin_miniEditor_toolbar_cr_group {
            margin-left: 16px;
          }
          .tyin_miniEditor_toolbar_cr:last-child>.tyin_miniEditor_toolbar_cr_group {
            margin-right: 16px;
          }
            /* tyin_miniEditor_toolbar_cr_group_item */
            .tyin_miniEditor_toolbar_cr_group_item {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 36px;
              height: 100%;
              line-height: var(--ic_ve_font_lineHeight_initial);
              color: var(--ic_ve_color_black4_opacity);
            }
            .tyin_miniEditor_toolbar_cr_group_item.ic_active_0 {
              color: var(--ic_ve_color_black8_opacity);
              background-color: var(--ic_ve_color_black1_opacity);
            }
            .tyin_miniEditor_toolbar_cr_group_item.tyin_mk_disable {
              color: var(--ic_ve_color_black2_opacity);
              pointer-events: none;
            }
      /* tyin_miniEditor_container */
      .tyin_miniEditor_container {
        overflow: hidden auto;
        padding: 20px;
        width: 100%;
        white-space: break-spaces;
      }
      .tyin_miniEditor_container:only-child {
        height: 100%;
      }
      .tyin_miniEditor_container:not(:only-child) {
        height: calc(100% - 36px);
      }
        /* tyin_miniEditor_container_content */
        .tyin_miniEditor_container_content {
          position: relative;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          cursor: text;
          -webkit-user-select: text;
          user-select: text;
        }
          /* tyin_miniEditor_container_content_cursor */
          .tyin_miniEditor_container_content_cursor {
            position: absolute;
            width: 0;
            height: 19px;
            border-right: 2px solid;
            border-right-color: var(--ic_ve_color_system_orange_translucent);
          }
    /* 💧 tyin_package_quill */
      .tyin_package_quill_container {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        background-color: var(--ic_ve_color_black1_opacity);
      }
      .tyin_package_quill_container *:not(input):not(textarea):not([contenteditable]) {
        cursor: default !important;
      }
      .tyin_package_quill_container a {
        color: var(--ic_ve_color_system_blue) !important;
      }
      .tyin_package_quill_container>.ql-toolbar {
        overflow: auto hidden !important;
        z-index: 1 !important;
        position: absolute !important;
        right: 8px !important;
        bottom: 8px !important;
        padding: 6px 0 !important;
        max-width: calc(100% - 16px) !important;
        height: 36px !important;
        border: unset !important;
        border-radius: 8px !important;
        background-color: var(--ic_ve_color_white7) !important;
        box-shadow: var(--ic_ve_shadow_4dp3) !important;
        white-space: nowrap !important;
      }
      .tyin_package_quill_container>.ql-toolbar>.ql-formats {
        margin-left: unset !important;
        margin-right: 8px !important;
      }
      .tyin_package_quill_container>.ql-toolbar>.ql-formats:first-child {
        margin-left: 8px !important;
      }
      .tyin_package_quill_container>.ql-toolbar>.ql-formats>button:not(.ql-active) {
        opacity: 0.4 !important;
      }
      .tyin_package_quill_container>.ql-toolbar>.ql-formats>button .ql-fill {
        fill: var(--ic_ve_color_black) !important;
      }
      .tyin_package_quill_container>.ql-toolbar>.ql-formats>button .ql-stroke {
        stroke: var(--ic_ve_color_black) !important;
      }
      .tyin_package_quill_container>.ql-toolbar>.ql-formats>button.ql-active .ql-fill {
        fill: var(--ic_ve_color_system_blue) !important;
      }
      .tyin_package_quill_container>.ql-toolbar>.ql-formats>button.ql-active .ql-stroke {
        stroke: var(--ic_ve_color_system_blue) !important;
      }
      .tyin_package_quill_container>.ql-container {
        display: flex !important;
        justify-content: center !important;
        max-height: 100% !important;
        border: unset !important;
        font-size: 14px !important;
        font-family: inherit !important;
      }
      .tyin_package_quill_container>.ql-container,
      .tyin_package_quill_container>.ql-container * {
        line-height: var(--ic_ve_font_lineHeight_text) !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-editor {
        flex: auto !important;
        padding: 20px 20px calc(36px + 8px*2) !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-editor.ql-blank::before {
        margin: 2px 0 !important;
        left: 20px !important;
        line-height: var(--ic_ve_font_lineHeight_text) !important;
        color: var(--ic_ve_color_black4_opacity) !important;
        font-style: unset !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-editor>* {
        margin: 2px 0 !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-editor u {
        text-decoration-color: var(--ic_ve_color_system_orange_translucent) !important;
        text-decoration-thickness: 2px !important;
        border-bottom-color: var(--ic_ve_color_system_orange_translucent) !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-editor s {
        text-decoration-color: var(--ic_ve_color_system_red_translucent) !important;
        text-decoration-thickness: 4px !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-editor sub,
      .tyin_package_quill_container>.ql-container>.ql-editor sup {
        margin: 0 2px !important;
        background-color: var(--ic_ve_color_system_orange_translucent) !important;
        zoom: 0.618 !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-editor sub {
        vertical-align: bottom !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-editor sup {
        vertical-align: top !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-editor sub::before,
      .tyin_package_quill_container>.ql-container>.ql-editor sup::before,
      .tyin_package_quill_container>.ql-container>.ql-editor sub::after,
      .tyin_package_quill_container>.ql-container>.ql-editor sup::after {
        content: "\00a0";
      }
      .tyin_package_quill_container>.ql-container>.ql-editor blockquote {
        border-left-width: 3px !important;
        border-left-color: var(--ic_ve_color_system_blue_translucent) !important;
        color: var(--ic_ve_color_black4_opacity) !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-editor pre {
        border: 1px solid !important;
        border-color: var(--ic_ve_color_system_orange_translucent) !important;
        border-radius: 2px !important;
        font-size: 12px !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-editor ol,
      .tyin_package_quill_container>.ql-container>.ql-editor ul {
        padding-left: unset !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
        padding-left: 3em !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-editor img {
        max-width: 128px !important;
        padding: 1px !important;
        border: 1px solid !important;
        border-color: var(--ic_ve_color_system_orange_translucent) !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-tooltip:not(.ql-hidden) {
        display: flex !important;
        align-items: center !important;
        left: unset !important;
        right: 8px !important;
        top: unset !important;
        bottom: calc(36px + 8px*2) !important;
        margin: unset !important;
        padding: 4px 8px !important;
        line-height: 100% !important;
        border: 1px solid !important;
        border-color: var(--ic_ve_color_black1_opacity) !important;
        border-radius: 8px !important;
        background-color: var(--ic_ve_color_white7) !important;
        box-shadow: var(--ic_ve_shadow_4dp3) !important;
        color: inherit !important;
        white-space: nowrap !important;
        transform: unset !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-tooltip::before {
        margin: unset !important;
        line-height: unset !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-tooltip::before,
      .tyin_package_quill_container>.ql-container>.ql-tooltip[data-mode="link"]::before {
        content: "链接" !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-tooltip[data-mode="video"]::before {
        content: "视频" !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-tooltip[data-mode="formula"]::before {
        content: "公式" !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-tooltip>* {
        margin-left: 8px !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-tooltip>input {
        padding: 4px !important;
        width: 128px !important;
        height: unset !important;
        border-color: var(--ic_ve_color_black1_opacity) !important;
        border-radius: 6px !important;
        background-color: var(--ic_ve_color_white3_opacity) !important;
        font-size: unset !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-tooltip>input:focus {
        border-color: var(--ic_ve_color_system_blue_translucent) !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-tooltip>input~a {
        color: var(--ic_ve_color_system_blue_translucent) !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-tooltip ::before,
      .tyin_package_quill_container>.ql-container>.ql-tooltip ::after {
        margin: unset !important;
        padding: unset !important;
        border: unset !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-tooltip>.ql-action::after {
        content: "编辑" !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-tooltip.ql-editing>.ql-action::after {
        content: "确定" !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-tooltip>.ql-remove::before {
        content: "消除" !important;
      }
      .tyin_package_quill_container>.ql-container>.ql-tooltip>.ql-preview {
        max-width: 128px !important;
        text-decoration: underline !important;
      }
  /* 💠 other */
/* #build */
/* #debug */
/* #after */