@charset "UTF-8";
/* <<<< <<<< <<<< <<<<
  tyin
  tyin.css
>>>> >>>> >>>> >>>> */
/* #before */
/* #import */
/* #variable */
/* #block */
  /* tyin 💠 💧 */
    /* 💠 base */
    /* 💠 local data */
    /* 💠 network data */
    /* 💠 application programming interface */
    /* 💠 graphics */
    /* 💠 command line interface */
    /* 💠 graphical user interface */
      /* 💧 tyin_miniEditor */
      .tyin_miniEditor {
        max-width: 100%;
        max-height: 100%;
        font-size: 14px;
      }
      /* ^child */
      .tyin_miniEditor * {
        line-height: var(--ic_ve_font_lineHeight_text);
      }
        /* tyin_miniEditor_toolbar */
        .tyin_miniEditor_toolbar {
          display: flex;
          align-items: center;
          width: 100%;
          height: 36px;
          box-shadow: var(--ic_ve_shadow_4dp3);
        }
          /* tyin_miniEditor_toolbar_cr */
          .tyin_miniEditor_toolbar_cr {
            flex: 1;
            display: flex;
            height: 100%;
          }
          .tyin_miniEditor_toolbar_cr:first-child {
            justify-content: flex-start;
          }
          .tyin_miniEditor_toolbar_cr:last-child {
            justify-content: flex-end;
          }
            /* tyin_miniEditor_toolbar_cr_group */
            .tyin_miniEditor_toolbar_cr_group {
              display: flex;
            }
            .tyin_miniEditor_toolbar_cr:first-child>.tyin_miniEditor_toolbar_cr_group {
              margin-left: 16px;
            }
            .tyin_miniEditor_toolbar_cr:last-child>.tyin_miniEditor_toolbar_cr_group {
              margin-right: 16px;
            }
              /* tyin_miniEditor_toolbar_cr_group_item */
              .tyin_miniEditor_toolbar_cr_group_item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 100%;
                line-height: var(--ic_ve_font_lineHeight_initial);
                color: var(--ic_ve_color_black4_opacity);
              }
              .tyin_miniEditor_toolbar_cr_group_item.ic_active_0 {
                color: var(--ic_ve_color_black8_opacity);
                background-color: var(--ic_ve_color_black2_opacity);
              }
              .tyin_miniEditor_toolbar_cr_group_item.tyin_mk_disable {
                color: var(--ic_ve_color_black2_opacity);
                pointer-events: none;
              }
        /* tyin_miniEditor_container */
        .tyin_miniEditor_container {
          overflow: hidden auto;
          padding: 20px;
          width: 100%;
          white-space: break-spaces;
        }
        .tyin_miniEditor_container:only-child {
          height: 100%;
        }
        .tyin_miniEditor_container:not(:only-child) {
          height: calc(100% - 36px);
        }
          /* tyin_miniEditor_container_content */
          .tyin_miniEditor_container_content {
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
            /* tyin_miniEditor_container_content_cursor */
            .tyin_miniEditor_container_content_cursor {
              position: absolute;
              width: 0;
              height: 19px;
              border-right: 2px solid;
              border-right-color: var(--ic_ve_color_system_orange_translucent);
            }
    /* 💠 other */
/* #build */
/* #debug */
/* #after */