@charset "UTF-8";
/* #before */
/* #import */
/* #variable */
/* #block */
/* #build */
  /*  */
  .tyin_package_quill_container,
  .tyin_package_quill_container * {
    /* _ */
    all: unset;
    /* _ */
    box-sizing: border-box;
    max-width: 100%;
    line-height: var(--ic_ve_font_lineHeight_text);
    outline: unset;
    touch-action: pan-x pan-y;
    overscroll-behavior: contain;
  }
    /* text */
    .tyin_package_quill_container a {
      color: var(--ic_ve_color_system_blue);
      text-decoration: unset;
      cursor: default;
    }
    .tyin_package_quill_container pre,
    .tyin_package_quill_container code,
    .tyin_package_quill_container var,
    .tyin_package_quill_container kbd {
      font-family: var(--ic_ve_font_family_mono);
      white-space: pre-wrap;
    }
    /* image */
    .tyin_package_quill_container img {
      vertical-align: bottom;
      cursor: default;
    }
  .tyin_package_quill_container {
    display: block;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-color: var(--ic_ve_color_gray_white);
    cursor: auto;
  }
    /*  */
    .tyin_package_quill_container>.ql-toolbar {
      display: flex;
      align-items: center;
      z-index: 1;
      position: absolute;
      overflow: auto hidden;
      right: 8px;
      bottom: 8px;
      max-width: calc(100% - 8px*2 - 128px + 8px);
      height: 38px;
      border-radius: 8px;
      font-size: 14px;
      background-color: var(--ic_ve_color_foreground);
      box-shadow: var(--ic_ve_shadow_2dp3);
    }
      /*  */
      .tyin_package_quill_container>.ql-toolbar::before,
      .tyin_package_quill_container>.ql-toolbar::after {
        content: "\00a0";
        width: 2px;
        min-width: 2px;
        max-width: 2px;
        height: 1px;
        font-size: 0px;
      }
      /*  */
      .tyin_package_quill_container>.ql-toolbar>.ql-image {
        display: none;
      }
      /*  */
      .tyin_package_quill_container>.ql-toolbar>.ql-formats {
        display: flex;
        align-items: center;
        height: calc(100% - 4px);
        border-radius: 6px;
      }
      .tyin_package_quill_container>.ql-toolbar>.ql-formats:not(:first-child) {
        margin-left: 12px;
      }
        /*  */
        .tyin_package_quill_container>.ql-toolbar>.ql-formats::after {
          content: "\00a0";
          width: 2px;
          min-width: 2px;
          max-width: 2px;
          height: 1px;
          font-size: 0px;
        }
        /*  */
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>* {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 2px;
          width: 24px;
          height: calc(100% - 4px);
          border-radius: 4px;
          color: var(--ic_ve_color_black4_opacity);
        }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-active {
          color: var(--ic_ve_color_system_blue);
        }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ic_active_0 {
          color: var(--ic_ve_color_system_blue_translucent);
          background-color: var(--ic_ve_color_highlight);
        }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ic_active_0.ic_active_outer {
          color: var(--ic_ve_color_system_red_translucent);
        }
          /* */
          .tyin_package_quill_container>.ql-toolbar>.ql-formats>*>svg {
            display: none;
          }
    /*  */
    .tyin_package_quill_container>.ql-container {
      display: block;
    }
      /*  */
      .tyin_package_quill_container>.ql-container>.ql-editor,
      .tyin_package_quill_container>.ql-container>.ql-clipboard {
        -webkit-nbsp-mode: space;
        nbsp-mode: space;
        -webkit-user-modify: read-write;
        user-modify: read-write;
        -webkit-user-select: auto;
        user-select: auto;
        white-space: pre-wrap;
      }
        /*  */
        .tyin_package_quill_container>.ql-container>.ql-editor :not(.katex *),
        .tyin_package_quill_container>.ql-container>.ql-clipboard :not(.katex *) {
          display: block;
        }
        .tyin_package_quill_container>.ql-container>.ql-editor span:not(.katex *),
        .tyin_package_quill_container>.ql-container>.ql-clipboard span:not(.katex *) {
          display: inline-block;
        }
      /*  */
      .tyin_package_quill_container>.ql-container>.ql-editor {
        display: block;
        overflow: hidden auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        padding: 24px;
        width: 100%;
        max-width: 800px;
        height: 100%;
        background-color: var(--ic_ve_color_background);
        box-shadow: var(--ic_ve_shadow_2dp3);
      }
        /*  */
        .tyin_package_quill_container>.ql-container>.ql-editor::before,
        .tyin_package_quill_container>.ql-container>.ql-editor::after {
          content: "1970-01-01 00:00:00";
          display: inline-block;
          width: 100%;
          font-size: 12px;
          font-family: var(--ic_ve_font_family_mono);
          text-align: right;
          color: var(--ic_ve_color_black2_opacity);
          pointer-events: none;
        }
        .tyin_package_quill_container>.ql-container>.ql-editor::after {
          padding-bottom: 128px;
        }
        .tyin_package_quill_container>.ql-container>.ql-editor .ql-indent-1 {
          margin-left: 2em;
        }
        .tyin_package_quill_container>.ql-container>.ql-editor .ql-indent-2 {
          margin-left: 4em;
        }
        .tyin_package_quill_container>.ql-container>.ql-editor .ql-indent-3 {
          margin-left: 6em;
        }
        .tyin_package_quill_container>.ql-container>.ql-editor .ql-indent-4 {
          margin-left: 8em;
        }
        .tyin_package_quill_container>.ql-container>.ql-editor .ql-indent-5 {
          margin-left: 10em;
        }
        .tyin_package_quill_container>.ql-container>.ql-editor .ql-indent-6 {
          margin-left: 12em;
        }
        .tyin_package_quill_container>.ql-container>.ql-editor .ql-indent-7 {
          margin-left: 14em;
        }
        .tyin_package_quill_container>.ql-container>.ql-editor .ql-indent-8 {
          margin-left: 16em;
        }
        /*  */
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-font::before {
          content: "􀤍";
        }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-size::before {
          content: "􀅐";
        }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-bold::before {
          content: "􀅓";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor strong {
            display: inline !important;
            font-weight: bold;
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-italic::before {
          content: "􀅔";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor em {
            display: inline !important;
            font-style: italic;
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-underline::before {
          content: "􀅕";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor u {
            display: inline !important;
            text-decoration: underline;
            text-decoration-color: var(--ic_ve_color_system_orange_translucent);
            text-decoration-thickness: 2px;
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-strike::before {
          content: "􀅖";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor s {
            display: inline !important;
            text-decoration: line-through;
            text-decoration-color: var(--ic_ve_color_system_red_translucent);
            text-decoration-thickness: 4px;
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-color::before {
          content: "􀣶";
        }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-background::before {
          content: "􀎑";
        }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-script[value="sub"]::before {
          content: "􀓡";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor sub {
            display: inline-block !important;
            color: var(--ic_ve_font_color_default);
            background-color: var(--ic_ve_color_system_orange_translucent);
            vertical-align: bottom;
          }
          html:not(.ic_nr_browser_chromium) .tyin_package_quill_container>.ql-container>.ql-editor sub {
            font-size: 0.618em;
          }
          .ic_nr_browser_chromium .tyin_package_quill_container>.ql-container>.ql-editor sub {
            zoom: 0.618;
          }
          .tyin_package_quill_container>.ql-container>.ql-editor sub * {
            vertical-align: bottom;
          }
          .tyin_package_quill_container>.ql-container>.ql-editor a sub {
            background-color: var(--ic_ve_color_system_blue_translucent);
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-script[value="super"]::before {
          content: "􀓢";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor sup {
            display: inline-block !important;
            color: var(--ic_ve_font_color_default);
            background-color: var(--ic_ve_color_system_orange_translucent);
            vertical-align: top;
          }
          html:not(.ic_nr_browser_chromium) .tyin_package_quill_container>.ql-container>.ql-editor sup {
            font-size: 0.618em;
          }
          .ic_nr_browser_chromium .tyin_package_quill_container>.ql-container>.ql-editor sup {
            zoom: 0.618;
          }
          .tyin_package_quill_container>.ql-container>.ql-editor sup * {
            vertical-align: top;
          }
          .tyin_package_quill_container>.ql-container>.ql-editor a sup {
            background-color: var(--ic_ve_color_system_blue_translucent);
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-header::before {
          content: "􀬎";
        }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-header[value="1"]::before {
          content: "􀀺";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor h1 {
            font-size: 2.2em;
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-header[value="2"]::before {
          content: "􀀼";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor h2 {
            font-size: 2em;
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-header[value="3"]::before {
          content: "􀀾";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor h3 {
            font-size: 1.8em;
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-header[value="4"]::before {
          content: "􀁀";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor h4 {
            font-size: 1.6em;
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-header[value="5"]::before {
          content: "􀁂";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor h5 {
            font-size: 1.4em;
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-header[value="6"]::before {
          content: "􀁄";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor h6 {
            font-size: 1.2em;
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-blockquote::before {
          content: "􀋿";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor blockquote {
            padding: 4px;
            border-radius: 4px;
            color: var(--ic_ve_color_black6_opacity);
            background-color: var(--ic_ve_color_foreground);
            box-shadow: var(--ic_ve_shadow_2dp3);
          }
          .tyin_package_quill_container>.ql-container>.ql-editor blockquote+blockquote {
            margin-top: 6px;
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-code-block::before {
          content: "􀙚";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor pre {
            padding: 4px;
            border-radius: 4px;
            font-size: 12px;
            color: #FFFFFF;
            background-color: #000000;
            box-shadow: var(--ic_ve_shadow_2dp3);
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-list[value="ordered"]::before {
          content: "􀋱";
        }
          /*  */
            /*  */
            .tyin_package_quill_container>.ql-container>.ql-editor ol>li::before {
              content: "-";
              display: inline-block;
              width: 2em;
              text-align: center;
              color: var(--ic_ve_color_black4_opacity);
            }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-list[value="bullet"]::before {
          content: "􀣩";
        }
          /*  */
            /*  */
            .tyin_package_quill_container>.ql-container>.ql-editor ul>li::before {
              content: "★";
              display: inline-block;
              width: 2em;
              text-align: center;
              color: var(--ic_ve_color_black4_opacity);
              transform: scale(0.618);
            }
            .tyin_package_quill_container>.ql-container>.ql-editor ul>.ql-indent-1::before,
            .tyin_package_quill_container>.ql-container>.ql-editor ul>.ql-indent-3::before,
            .tyin_package_quill_container>.ql-container>.ql-editor ul>.ql-indent-5::before,
            .tyin_package_quill_container>.ql-container>.ql-editor ul>.ql-indent-7::before {
              content: "☆";
            }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-indent[value="-1"]::before {
          content: "􀋶";
        }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-indent[value="+1"]::before {
          content: "􀋵";
        }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-direction::before {
          content: "􀒆";
        }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-direction.ql-active::before {
          transform: rotateY(180deg);
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor .ql-direction-rtl {
            direction: rtl;
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-align::before {
          content: "􀌀";
        }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-link::before {
          content: "􀉣";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor a {
            display: inline !important;
            border-bottom: 2px solid;
            border-bottom-color: var(--ic_ve_color_system_green_translucent);
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-image::before {
          content: "􀏅";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor img {
            display: inline !important;
            padding: 4px;
            border-radius: 4px;
            background-color: var(--ic_ve_color_foreground);
            box-shadow: var(--ic_ve_shadow_2dp3);
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-video::before {
          content: "􀯪";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor iframe {
            padding: 4px;
            width: 640px;
            height: 360px;
            border-radius: 4px;
            background-color: var(--ic_ve_color_foreground);
            box-shadow: var(--ic_ve_shadow_2dp3);
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-formula::before {
          content: "􀅮";
        }
          /*  */
          .tyin_package_quill_container>.ql-container>.ql-editor .katex {
            overflow: auto hidden;
            padding: 4px;
            border-radius: 4px;
            color: #009688;
            background-color: var(--ic_ve_color_foreground);
            box-shadow: var(--ic_ve_shadow_2dp3);
            white-space: nowrap;
          }
        .tyin_package_quill_container>.ql-toolbar>.ql-formats>.ql-clean::before {
          content: "􀇼";
        }
      /*  */
      .tyin_package_quill_container>.ql-container>.ql-clipboard {
        overflow: hidden;
        position: absolute;
        left: -1px;
        top: -1px;
        width: 1px;
        height: 1px;
        opacity: 0;
      }
      /*  */
      .tyin_package_quill_container>.ql-container>.ql-tooltip {
        display: flex;
        position: absolute;
        margin: auto;
        left: unset !important;
        right: 8px;
        top: unset !important;
        bottom: calc(38px + 8px*2);
        width: 256px;
        height: 32px;
        border-radius: 8px;
        background-color: var(--ic_ve_color_foreground);
        box-shadow: var(--ic_ve_shadow_2dp3);
      }
      .tyin_package_quill_container>.ql-container>.ql-tooltip.ql-hidden {
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
      }
/* #debug */
/* #after */